/* --- SITE --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

/* --- HEADER --- */

header {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}

.conteneur {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.contenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- NAVBAR --- */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    color: #666;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a {
    text-decoration: none;
    color: black
}

nav a:hover,
nav a.active {
    color: #C6101D;
}

.texte_accueil {
    text-align: center;
    padding: 50px 0 30px;
}

.conteneur_texte_accueil {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.texte_accueil h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.texte_accueil p {
    color: #777;
}
.surbrillance {
    color: #C6101D;
}