/* --- SITE --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

/* --- HEADER --- */

header {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 20px 0;
}
.conteneur {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.contenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- NAVBAR --- */

nav a {
    text-decoration: none;
    color: #666;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover, nav a.active {
    color: #C6101D;
}

